* {box-sizing: border-box;background-color: #f1f1f1;padding: none;margin: 0;}
#main {padding: 1vmax;color: #222;}
#ecg {max-width:95%;max-height: 70vh;padding: 1vmax;}
.aBox {display: none;font-size: 2.5vmax;padding: 1vmax;}
.input {width: 2.5vmax;height: 2vmax;}
.pContainer {display: flex;padding: 1vmax;}
.pBox {align-content: center;flex: 33%;padding: 1vmax;
    border: grey solid 0.2vmax;border-radius: 1vmax;}
    
#p1,#p2,#p3 {font-size: 3.5vmax;color: #333333;padding: 1vmax;}
.showScore{border:none;width: 3vmax;font-size:2.5vmax;background-color:transparent;
  color: #222;}

#thank {background-color: #333333;position: fixed;display: none;
left: 10vw;top: 10vh;width: 80vw;height: 80vh;text-align:center;padding-top: 10vh;
color: #f1f1f1;font-size: 3vmax;
}

@media only screen and (max-width: 1000px) {
    .pContainer {flex-wrap: wrap;}
    .pBox {flex: 100%;}
  }
