* {box-sizing: border-box;background-color: #f1f1f1;padding: none;margin: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
#main {padding: 1vmax;color: #222;}
#ecg {max-width:95%;max-height: 80vh;padding: 1vmax;}
.aBox {display: none;font-size: 2.5vmax;padding: 1vmax;}
input[type="checkbox"] {
  -webkit-transform: scale(2.5, 2.5);vertical-align:middle;
}
label {padding-left: 1vmax;}
.pContainer {display: flex;padding: 1vmax;}
.pBox {align-content: center;flex: 33%;padding: 1vmax;
    border: grey solid 0.2vmax;border-radius: 1vmax;}
    
#p1,#p2,#p3 {font-size: 3.5vmax;color: #333333;padding: 1vmax;}
.showScore{border:none;width: fit-content;font-size:2.5vmax;color: #222;}

#thank {background-color: #333333;position: fixed;display: none;
left: 5vw;top: 5vh;width: 90vw;height: 90vh;text-align:center;padding-top: 30vh;
color: #f1f1f1;font-size: 5vmax;
}
#intro {background-color: #333333;position: fixed;display: none;
  left: 0;top: 0;width: 100vw;height: 100vh;text-align:center;padding-top: 30vh;
  color: #f1f1f1;font-size: 5vmax;
  }
@media only screen and (max-width: 1000px) {
    .pContainer {flex-wrap: wrap;}
    .pBox {flex: 100%;}
  }

#summary {z-index: 1;display: none;position: fixed;left: 15%;top: 5%;width: 80vw;
  max-height: 90%;overflow-y: scroll;
background-color: rgba(55,55,55,0.9);font-size: 3vmax;padding: 2vmax;color: #ddd;}
#status {background-color: rgba(55,55,55,0.9);padding: 1vmax;}
#scoreDetail {border-top: #555 dashed 0.2vmax;background-color: rgba(55,55,55,0.9);}
.scoreSum {padding: 1vmax;background-color: rgba(55,55,55,0.9);border-bottom: #aaa dashed 0.2vmax;
  color: #aaa;font-weight: 400;}
.scoreSumPName {background-color: rgba(55,55,55,0.9);color: #f1f1f1;font-weight: 700;padding: 1vmax;}

#qNav {text-align: center;color: #555;font-size: 3vmax;}
#dn, #up {cursor:pointer;}
#dn {display: none;}
