.slabo {font-family: 'Slabo 27px', serif;}
.roboto {font-family: 'Roboto', sans-serif;}
.yellow {background-color:#ffc30b;color: black;}
.yellowTxt {color: #ffc30b}
.yellowGd {background: linear-gradient(to bottom, #ffc30b 0%, #ffcf3b 100%);}
.darkBrown {background-color:#332702;color: white;}
.red {background-color: #ea432f; color: white}
.redTxt {color: #ea432f}
.grey {background-color:#9e9e9e; color: white}
.darkGTxt {color: #191301;}
.greyTxt {color: #808080}
.blue {background-color: #2a389e; color: white}
.blueTxt {color: #2a389e}
.yellowBorder {border: #ffc30b solid 0.5vw}
.blueBorder {border: #2a389e solid 0.5vw}
.greenBorder {border: green solid 0.5vw}


.bold {font-weight: 700}
.h1 {font-size: 7vmax}
.h2 {font-size: 6vmax}
.h3 {font-size: 5vmax}
.h4 {font-size: 4vmax}
.h5 {font-size: 3vmax}
.h6 {font-size: 2vmax}
.h7 {font-size: 1.5vmax}

@media only screen and (max-width: 600px){
    .bold {font-weight: 500};
       }

.dropCap {
    float: left;
    width: 8vmax;
    font-size: 16vmax;
    line-height: 80%;
}

.ref, a.ref {
    color: #b5a3a3;
    font-size: 1vmax;
    
       }

.block {
margin-top: 14vh;
margin-bottom: 14vh;
}

.fullBlock {
    width: 100%; min-height: 100vh;
}

/*menu*/
.sidenav {
    height: auto; 
    width: 0;
    position: fixed;
    font-size: 3vmax;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffc30b 0%, #ffcf3b 100%);
    overflow-x: hidden; 
    padding-top: 6vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.sidenav a {
    padding: 1vh 1vmax 0.5vh 1vmax;
    text-decoration: none; overflow-y : auto;
    border-bottom: #ffc30b 0.2vmin solid;
    font-size: 2vmax;
    color: #191301;
    display: block;
        }
        
.sidenav .active {color: #2a389e}
.sidenav a:first-child {padding-right: 1vw; padding-top:1vw}
.sidenav a:last-child {border: none}

.sidenav a:hover {
    opacity: 0.5;
}

.sidenav .onThisPage {
    padding: 2vh 2vw 0vh 2vw;
    text-decoration: none;
    border-top: #332702 0.2vmin solid;
    font-size: 2vmax;
    color: #808080;
    display: block;
    text-align: right;    
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0vw;
    font-size: 2.5vmax;
    margin-left: 0.2vw;
    border: none;
}

.topnav {
    position: sticky; word-wrap: break-word;
    z-index: 1; height: fit-content; width: 100%;
    top: 0;
    left: 0;
    padding: 0.5vmax;
    background-color: #ffc30b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
    }
    

.toTop {
    position: fixed; 
    background-color: transparent; color: #e5E5E5;
    top: 92%;right: 2%;
    cursor: pointer;transition: 0.2s;
    display: none;
    z-index: 1; opacity: 1;
   }
.toTop :hover {opacity: 0.6}

@media only screen and (max-width: 600px){
    .sidenav a, .closebtn, .onThisPage {font-size: 3vmax}
    .toTop {top: 95%; right: 5%}    
}

/*pointer*/
.pointer {
    cursor: pointer;
    height: 0.5em;
    width: 0.5em;
    margin: 0 0.2em;
    display: inline-block;
    background-color: #fc553d;
    border-radius: 50%;
    position: fixed;  
    z-index: 4;
    animation: blink 1.5s linear infinite;
    }
    @keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 0.7}
    100%{opacity: 1;}
    }


@media only screen and (max-width: 600px){
    .sidenav a, .closebtn, .onThisPage {font-size: 3vmax}
    }

img {width: 100%}

@media only screen and (max-width: 600px){
    .noMobile {display: none}
    .mobileOnly {display: block}
    .mobileSize {font-size: 2.7vmax; text-align:center;}
    .mobileBorder {border: white solid 3vmax; 
        padding:0.5vmax; margin-bottom: 2vmax}
}

@media only screen and (min-width: 601px){
    .mobileOnly {display: none}
}
   


